.guest-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding-right: 15px; */
    /* border: 2px solid #000; */
    margin: 0;
    background-color: gray;
    height: 6vh;
}


.header-text{
    margin: 10px;
}
