main {
    margin: 0 auto;
    height: 100vh;
    padding: 0 5%;
    text-align: center;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Basic form styling */
form {
    max-width: 400px;
    margin: 0 auto;
}

/* Input field styling */
input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Label styling */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

/* Button styling */
button {
    color: #333;
    padding: 10px 15px;
    margin: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Style the active button */
button.active {
    background-color: #333;
    /* Choose a color for the active state */
    color: #fff;
    /* Text color for the active state */
    font-weight: bold;
}

/* Hover effect on button */
button:hover {
    opacity: 0.8;
}

.primary-btn {
    background-color: #4caf50;
    color: white;
    border: none;
}

.secondary-btn {
    background-color: #008CBA;
    color: white;
    border: none;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
}

.horizontal-buttons {
    display: flex;
    margin: auto 5px;
}

.horizontal-buttons button {
    padding: 8px 16px;
    margin: 0px;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

.horizontal-buttons button:first-child {
    border-radius: 8px 0px 0px 8px;

}

.horizontal-buttons button:last-child {
    border-radius: 0px 8px 8px 0px;
}


ul {
    list-style-type: none;
    padding: 0;
    /* width: 30px; */
}

ul li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 50px;
}

.menu-item {
    margin: 10px;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item a:hover {
    color: #45a049;
}

textarea {
    border-radius: 4px;
    padding: 10px;
    margin: 20px 0;
    width: 100%
}

.centered-600px-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 20px auto;
}

.left-start-aligned-flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.end-aligned-row-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.space-between-row-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three-column-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.align-center {
    display: flex;
    align-items: center;
}

span {
    margin: 5px;
    text-align: left;
}

.events-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Creates 3 columns with equal width */
    gap: 20px;
    /* Adjust the gap between cards as needed */
}

.event-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
    max-width: 25vw;
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
    backdrop-filter: blur(4px);
}

.event-card p {
    margin: 10px;
    word-wrap: break-word
}

.name {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 10px;
}

.long-name {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 10px;
}

.radio-form {
    display: flex;
    flex-direction: row;
    border: 2px solid #333;
    border-radius: 8px;
    margin: 10px;
}

.radio-form label {
    margin: 0 10px;
}

.radio-form input {
    margin: 0 10px;
    padding: 0;
}

.toast-position {
    top: 50px !important;
}